<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->
<div class="page-wrapper doctris-theme toggled">
    <nav th:replace="~{layout/pageSidebarAdmin :: pageSidebarAdmin}" id="sidebar" class="sidebar-wrapper"></nav>
    <!-- sidebar-wrapper  -->

    <!-- Start Page Content -->
    <main class="page-content bg-light">
        <div th:replace="~{layout/pageHeaderAdmin :: pageHeaderAdmin}" class="top-header"></div>

        <div class="container-fluid">
            <div class="layout-specing">
                <div class="d-md-flex justify-content-between">
                    <div>
                        <h5 class="mb-0" th:text="${service.title}"></h5>
                        <div class="stars d-flex align-items-center">
                            <div>
                                <svg style="display:none;">
                                    <defs>
                                        <symbol id="fivestars">
                                            <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                  fill="#f8f9fc" fill-rule="evenodd"/>
                                            <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                  fill="#f8f9fc" fill-rule="evenodd" transform="translate(24)"/>
                                            <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                  fill="#f8f9fc" fill-rule="evenodd" transform="translate(48)"/>
                                            <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                  fill="#f8f9fc" fill-rule="evenodd" transform="translate(72)"/>
                                            <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                  fill="#f8f9fc" fill-rule="evenodd" transform="translate(96)"/>
                                        </symbol>
                                    </defs>
                                </svg>
                                <div class="rating">
                                    <progress class="rating-bg" th:value="${avg}" max="5"></progress>
                                    <svg>
                                        <use xlink:href="#fivestars"/>
                                    </svg>
                                </div>
                            </div>
                            <span class="text-muted mx-2" th:text="${service.rateStar.size()} + ' ' + voted"></span>
                        </div>
                        <ul class="list-unstyled mt-2 mb-0">
                            <i class="mdi mdi-cash"></i>
                            <li class="list-inline-item user text-muted me-2" th:text="'$ ' + ${service.price}"></li>
                            <li class="list-inline-item date text-muted" th:switch=${service.status}>
                                <span th:case="${true}" class="badge bg-soft-success">Active</span>
                                <span th:case="${false}" class="badge bg-soft-warning">Inactive</span>
                            </li>
                        </ul>
                    </div>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Doctris</a></li>
                            <li class="breadcrumb-item"><a href="/admin/service">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Service Detail</li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-12 col-md-12 text-md-end text-center mt-4 mt-lg-0">
                    <a th:href="@{/admin/service/edit/{serviceId}(serviceId=${service.serviceId})}"
                       class="btn btn-primary">Edit</a>
                    <a th:href="@{/admin/service/delete/{serviceId}(serviceId=${service.serviceId})}"
                       th:data-id="${service.serviceId}"
                       class="btn btn-soft-primary btn-delete ms-2">Remove</a>
                </div><!--end col-->

                <div class="row">
                    <div class="col-lg-8 col-lg-7 mt-4">
                        <div class="card rounded shadow border-0 overflow-hidden">
                            <img style="height: 500px; object-fit: contain;"
                                 th:src="${service.thumbnail}" class="img-fluid" alt="">

                            <div class="p-4">
                                <p class="text-muted py-2" th:text="${service.description}"></p>

                                <p class="text-muted mb-0" th:utext="${service.content}"></p>

                                <h4 class="card-title mt-4 mb-0">Reviews :</h4>
                                <div th:if="${#lists.isEmpty(reviews)}">
                                    <h5>No reviews yet</h5>
                                </div>

                                <div th:unless="${#lists.isEmpty(reviews.getContent())}">
                                    <ul class="media-list list-unstyled mb-0">
                                        <li class="mt-4" th:each="review : ${reviews}">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <a class="pe-3" href="#">
                                                        <img th:src="${review.user.avatar}"
                                                             class="img-fluid avatar avatar-md-sm rounded-circle shadow"
                                                             alt="img">
                                                    </a>

                                                    <div class="commentor-detail">
                                                        <h6 class="mb-0"><a href="javascript:void(0)"
                                                                            class="text-dark media-heading"
                                                                            th:text="${review.user.fullName}"></a></h6>
                                                        <small class="text-muted" th:text="${review.createdAt}"></small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="stars mt-2">
                                                <div>
                                                    <svg style="display:none;">
                                                        <defs>
                                                            <symbol id="fivestarss">
                                                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                                      fill="white" fill-rule="evenodd"/>
                                                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                                      fill="white" fill-rule="evenodd"
                                                                      transform="translate(24)"/>
                                                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                                      fill="white" fill-rule="evenodd"
                                                                      transform="translate(48)"/>
                                                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                                      fill="white" fill-rule="evenodd"
                                                                      transform="translate(72)"/>
                                                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
                                                                      fill="white" fill-rule="evenodd"
                                                                      transform="translate(96)"/>
                                                            </symbol>
                                                        </defs>
                                                    </svg>
                                                    <div class="rating">
                                                        <progress class="rating-bg" th:if="${review.star == 1}"
                                                                  value="1" max="5"></progress>
                                                        <progress class="rating-bg" th:if="${review.star == 2}"
                                                                  value="2" max="5"></progress>
                                                        <progress class="rating-bg" th:if="${review.star == 3}"
                                                                  value="3" max="5"></progress>
                                                        <progress class="rating-bg" th:if="${review.star == 4}"
                                                                  value="4" max="5"></progress>
                                                        <progress class="rating-bg" th:if="${review.star == 5}"
                                                                  value="5" max="5"></progress>
                                                        <svg>
                                                            <use xlink:href="#fivestarss"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <p class="text-muted font-italic p-3 bg-light rounded"
                                                   th:text="${review.feedback}"></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="row" th:unless="${#lists.isEmpty(reviews.getContent())}">
                                    <div class="col-12 mt-4">
                                        <div class=" d-flex justify-content-end my-2">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item"
                                                    ><a
                                                            class="page-link"
                                                            th:classappend="${reviews.hasPrevious() ? '' : 'disabled'}"
                                                            th:href="@{'/admin/service/' + ${service.serviceId} + '?page=' + ${reviews.number}}"
                                                    >Prev</a>
                                                    </li>
                                                    <li class="paginate_button page-item"><a
                                                            class="page-link"
                                                            th:href="@{'/admin/service/' + ${service.serviceId} + '?page=' + ${reviews.number}}"
                                                            th:if="${reviews.hasPrevious()}"
                                                            th:text="${reviews.number}"></a>
                                                    </li>
                                                    <li class="paginate_button page-item active"><a
                                                            class="page-link"
                                                            th:href="@{'/admin/service/' + ${service.serviceId} + '?page=' + ${reviews.number + 1}}"
                                                            th:text="${reviews.number + 1}"></a>
                                                    </li>
                                                    <li class="paginate_button page-item"><a
                                                            class="page-link"
                                                            th:href="@{'/admin/service/' + ${service.serviceId} + '?page=' + ${reviews.number + 2}}"
                                                            th:if="${reviews.hasNext()}"
                                                            th:text="${reviews.number + 2}"></a>
                                                    </li>

                                                    <li class="paginate_button page-item"
                                                    ><a
                                                            class="page-link"
                                                            th:classappend="${reviews.hasNext()} ? '':'disabled'"
                                                            th:href="@{'/admin/service/' + ${service.serviceId} + '?page=' + ${reviews.number + 2}}"
                                                    >Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 mt-4">
                        <div class="card rounded border-0 shadow">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0">Services List</h5>
                            </div>

                            <ul class="list-unstyled mb-0 p-4" data-simplebar style="height: 664px;">
                                <li class="d-md-flex align-items-center text-center text-md-start mt-3"
                                    th:each="service, iterStat : ${services}" th:if="${iterStat.index} &lt; 5">
                                    <a th:href="@{/admin/service/{serviceId}(serviceId=${service.serviceId})}"><img th:src="${service.thumbnail}" style="object-fit: cover;"
                                                                                                                    class="avatar avatar-medium rounded-md shadow" alt=""></a>

                                    <div class="ms-md-3 mt-4 mt-sm-0">
                                        <a th:href="@{/admin/service/{serviceId}(serviceId=${service.serviceId})}"
                                           class="text-dark h6" th:text="${service.title}"></a>
                                        <p class="text-muted my-1" th:text="'$ ' + ${service.price}"></p>
                                        <p class="text-muted my-1" th:switch=${service.status}>
                                            <span th:case="${true}" class="badge bg-soft-success">Active</span>
                                            <span th:case="${false}" class="badge bg-soft-warning">Inactive</span>
                                        </p>
                                    </div>
                                </li>

                                <li class="mt-4">
                                    <a th:href="@{/admin/service}" class="btn btn-primary">All Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </div><!--end container-->

        <!-- Footer Start -->
        <footer class="bg-white shadow py-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="text-sm-start text-center">
                            <p class="mb-0 text-muted">
                                <script>document.write(new Date().getFullYear())</script>
                                Children Care. Design with <i class="mdi mdi-heart text-danger"></i> by <a
                                    href="../../../index.html" target="_blank" class="text-reset">Shreethemes</a>.
                            </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- End -->
    </main>
    <!--End page-content" -->
</div>
<!-- page-wrapper -->
<script th:replace="~{layout/script :: script}"></script>

<script>
    $('.btn-delete').on('click', function (e) {
        e.preventDefault();
        const serviceId = $(this).attr("data-id");
        SwalDelete(this.href, {
            serviceId
        }, "/admin/service");
    });
</script>

</body>

</html>