<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->
<div class="page-wrapper doctris-theme toggled">
    <nav th:replace="~{layout/pageSidebarAdmin :: pageSidebarAdmin}" id="sidebar" class="sidebar-wrapper"></nav>
    <!-- sidebar-wrapper  -->

    <!-- Start Page Content -->
    <main class="page-content bg-light">
        <div th:replace="~{layout/pageHeaderAdmin :: pageHeaderAdmin}" class="top-header"></div>
        <div class="container-fluid">
            <div class="layout-specing">
                <div class="d-md-flex justify-content-between">
                    <h5 class="mb-0">Update Service</h5>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Doctris</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/service}">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update Service</li>
                        </ul>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-lg-8 mt-4">
                        <div class="card border-0 p-4 rounded shadow">
                            <form method="POST" id="form-submit" th:action="@{/admin/service/update}" th:object="${service}"
                                  enctype="multipart/form-data">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-2 col-md-4">
                                        <div class="preview-box avatar avatar-md-md rounded-pill shadow mx-auto d-block">
                                            <img th:if="${service.thumbnail}" th:src="${service.thumbnail}" style="border-radius: 50%; height: 100%;"
                                                 class="preview-content w-100" src=${reader.result} />
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-4">
                                        <p id="thumbnail" class="d-none" th:name="thumbnail" th:text="${service.thumbnail}"></p>
                                        <input type="file" id="image" name="image"
                                               accept="image/*"
                                               onchange={handleChange()} hidden/>
                                        <label class="btn-upload btn btn-primary mt-4" for="image">Upload
                                            Thumbnail</label>
                                        <span class="mt-2 text-danger d-block" th:if="${image}"
                                              th:text="${image}"></span>
                                    </div>
                                </div><!--end row-->

                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Title</label>
                                            <input th:name="title" th:field="*{title}"
                                                   th:value="${title}"
                                                   id="title" type="text" class="form-control"
                                                   placeholder="Title :">
                                            <span class="mt-2 text-danger" th:if="${#fields.hasErrors('title')}"
                                                  th:errors="*{title}"></span>
                                            <input th:name="serviceId" id="serviceId" th:field="*{serviceId}"
                                                   type="text"
                                                   class="form-control" hidden>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Price</label>
                                            <input th:name="price" th:field="*{price}"
                                                   th:value="${price}" step="0.01"
                                                   id="price" type="number" class="form-control">
                                            <span class="mt-2 text-danger" th:if="${price}"
                                                  th:text="${price}"></span>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3" th:if="${service.status}">
                                            <label class="form-label d-block">Gender</label>
                                            <input type="radio" th:name="status" th:value="1" checked/> Active
                                            <input style="margin-left: 20px;" type="radio" th:name="status"
                                                   th:value="0"/> Inactive
                                            <span class="mt-2 text-danger" th:if="${status}" th:text="${status}"></span>
                                        </div>
                                        <div class="mb-3" th:unless="${service.status}">
                                            <label class="form-label d-block">Gender</label>
                                            <input type="radio" th:name="status" th:value="1"/> Active
                                            <input style="margin-left: 20px;" type="radio" th:name="status"
                                                   th:value="0" checked/> Inactive
                                            <span class="mt-2 text-danger" th:if="${status}" th:text="${status}"></span>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            <textarea th:name="description" th:field="*{description}"
                                                      th:value="${description}"
                                                      id="description" rows="3" class="form-control"
                                                      placeholder="Description :"></textarea>
                                            <span class="mt-2 text-danger" th:if="${#fields.hasErrors('description')}"
                                                  th:errors="*{description}"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Content</label>
                                            <textarea id="editor" th:name="content" th:field="*{content}"></textarea>
                                            <span class="mt-2 text-danger" th:if="${#fields.hasErrors('content')}"
                                                  th:errors="*{content}"></span>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->

                                <button type="submit" class="btn btn-primary btn-update">Update Service</button>
                            </form>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 mt-4">
                        <div class="card rounded border-0 shadow">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0">Services List</h5>
                            </div>

                            <ul class="list-unstyled mb-0 p-4" data-simplebar style="height: 664px;">
                                <li class="d-md-flex align-items-center text-center text-md-start mt-4"
                                    th:each="service, iterStat : ${services}" th:if="${iterStat.index} &lt; 5">
                                    <img th:src="${service.thumbnail}"
                                         class="avatar avatar-medium rounded-md shadow" alt="">

                                    <div class="ms-md-3 mt-4 mt-sm-0">
                                        <a th:href="@{/admin/service/{serviceId}(serviceId=${service.serviceId})}" class="text-dark h6" th:text="${service.title}"></a>
                                        <p class="text-muted my-1" th:text="'$ ' + ${service.price}"></p>
                                        <p class="text-muted my-1" th:switch=${service.status}>
                                            <span th:case="${true}" class="badge bg-soft-success">Active</span>
                                            <span th:case="${false}" class="badge bg-soft-warning">Inactive</span>
                                        </p>
                                        <!--                                        <p class="text-muted mb-0" th:text="${service.phoneNumber}"></p>-->
                                    </div>
                                </li>

                                <li class="mt-4">
                                    <a th:href="@{/admin/service}" class="btn btn-primary">All Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </div><!--end container-->

        <!-- Footer Start -->
        <footer class="bg-white shadow py-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="text-sm-start text-center">
                            <p class="mb-0 text-muted">
                                <script>document.write(new Date().getFullYear())</script>
                                Children Care. Design with <i class="mdi mdi-heart text-danger"></i> by <a
                                    href="../../../index.html" target="_blank" class="text-reset">Shreethemes</a>.
                            </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- End -->
    </main>
    <!--End page-content" -->
</div>
<!-- page-wrapper -->

<!-- javascript -->
<script th:replace="~{layout/script :: script}"></script>

<script>
    $('.btn-update').on('click', function (e) {
        // e.preventDefault()
        const thumbnail = $('#thumbnail');
        const image = $('#image');

        if (image.val() == "") {
            image.prop('disabled', true);
            const form = $('#form-submit');
            const thumbnailValue = thumbnail.html();
            const thumbnailField = $(`<input type=\"text\" name="thumbnail" value=\"${thumbnailValue}\" hidden />`);
            form.append(thumbnailField)
        }
    });

    const handleChange = () => {
        const fileUploader = document.querySelector('#image');
        const getFile = fileUploader.files
        if (getFile.length !== 0) {
            const uploadedFile = getFile[0];
            readFile(uploadedFile);
        }
    }

    const readFile = (uploadedFile) => {
        if (uploadedFile) {
            const reader = new FileReader();
            reader.onload = () => {
                const parent = document.querySelector('.preview-box');
                parent.innerHTML = `<img class="preview-content w-100" style="border-radius: 50%; height: 100%;" src=${reader.result} />`;
            };

            reader.readAsDataURL(uploadedFile);
        }
    };

    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
</body>

</html>