<div th:fragment="sidebarLanding" class="rounded shadow overflow-hidden sticky-bar">
  <div class="card border-0">
    <img th:src="@{~/assets/images/doctors/profile-bg.jpg}" class="img-fluid" alt="">
  </div>

  <div class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom">
    <img th:if="${session.user.avatar}" th:src="${session.user.avatar}" class="rounded-circle shadow-md avatar avatar-md-md" alt="">
    <img th:unless="${session.user.avatar}" th:src="@{'~/assets/images/avatar.png'}" class="rounded-circle shadow-md avatar avatar-md-md" alt="">
    <h5 class="mt-3 mb-1" th:text="${session.user.fullName}"></h5>
    <p class="text-muted mb-0"></p>
    <hr>
    <div class="list-unstyled p-4">
      <div class="d-flex align-items-center mt-2">
        <i class="uil uil-user align-text-bottom text-primary h5 mb-0 me-2"></i>
        <h6 class="mb-0">Gender</h6>
        <p class="text-muted mb-0 ms-2" th:text="${session.user.gender}"></p>
      </div>

      <div class="d-flex align-items-center mt-2">
        <i class="uil uil-envelope align-text-bottom text-primary h5 mb-0 me-2"></i>
        <h6 class="mb-0">Birthday</h6>
        <p class="text-muted mb-0 ms-2" th:text="${session.user.dateOfBirth}"></p>
      </div>

      <div class="d-flex align-items-center mt-2">
        <i class="uil uil-book-open align-text-bottom text-primary h5 mb-0 me-2"></i>
        <h6 class="mb-0">Phone No.</h6>
        <p class="text-muted mb-0 ms-2" th:text="${session.user.phoneNumber}"></p>
      </div>

      <div class="d-flex align-items-center mt-2">
        <i class="uil uil-italic align-text-bottom text-primary h5 mb-0 me-2"></i>
        <h6 class="mb-0">Address</h6>
        <p class="text-muted mb-0 ms-2" th:text="${session.user.address}"></p>
      </div>

      <div class="d-flex align-items-center mt-2" th:if="${session.user.role == 'Patient'}">
        <i class="uil uil-medical-drip align-text-bottom text-primary h5 mb-0 me-2"></i>
        <h6 class="mb-0">Blood Group</h6>
        <p class="text-muted mb-0 ms-2" th:if="${user.patient != null && user.patient.bloodGroup != null}" th:text="${user.patient.bloodGroup}"></p>
      </div>
    </div>

  </div>

  <ul th:if="${session.user.role == 'Patient' || session.user.role == 'Doctor'}" class="list-unstyled sidebar-nav mb-0">
    <li class="navbar-item"><a th:href="@{/appointments}" class="navbar-link"><i
            class="ri-calendar-check-line align-middle navbar-icon"></i> Appointment</a></li>
<!--    <li class="navbar-item"><a href="../bill/invoices.html" class="navbar-link"><i-->
<!--            class="ri-pages-line align-middle navbar-icon"></i> Invoices</a></li>-->
    <li class="navbar-item"><a th:href="@{/profile}" class="navbar-link"><i
            class="ri-user-line align-middle navbar-icon"></i> Profile</a></li>
<!--    <li th:if="${session.user.role == 'Doctor'}" class="navbar-item"><a href="../patient/patient-list.html" class="navbar-link"><i-->
<!--            class="ri-empathize-line align-middle navbar-icon"></i> Patients</a></li>-->
  </ul>

  <ul th:if="${session.user.role == 'Admin' || session.user.role == 'Staff'}" class="list-unstyled sidebar-nav mb-0">
    <li class="navbar-item"><a th:href="@{/profile}" class="navbar-link"><i
            class="ri-user-line align-middle navbar-icon"></i> Profile</a></li>
  </ul>
</div>
