<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head :: head}"></head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navbar STart -->
<header th:replace="~{layout/pageHeaderLanding :: pageHeaderLanding}"></header><!--end header-->
<!-- Navbar End -->

<!-- Start Hero -->
<section class="bg-half-170 d-table w-100" style="background: url('../assets/images/bg/02.jpg') center center;">
    <div class="bg-overlay bg-overlay-dark"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h3 class="sub-title mb-4 text-white title-dark">Blogs & News</h3>
                    <p class="para-desc mx-auto text-white-50">Great doctor if you need your family member to get
                        effective immediate assistance, emergency treatment or a simple consultation.</p>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-3">
                        <ul class="breadcrumb bg-light rounded mb-0 py-1 px-2">
                            <li class="breadcrumb-item"><a th:href="@{/}">Doctris</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                        </ul>
                    </nav>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <form role="search" method="get" id="searchform" class="searchform col-12 col-md-6 mb-5"
                  th:action="@{/blog}">
                <div class="search-bar p-0 d-none d-lg-block ms-2">
                    <div id="search" class="menu-search mb-0 searchform">
                        <div class="searchform">
                            <input type="text" class="form-control border rounded-pill" th:name="titleSearch"
                                   th:value="${titleSearch}" id="s" placeholder="Search Keywords...">
                            <input type="submit" id="searchsubmit" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mb-4 pb-2" th:each="blog : ${usesPage}">
                <div class="card blog blog-primary border-0 shadow rounded overflow-hidden">
                    <a th:href="@{/blog/{blogId}(blogId=${blog.blogId})}"><img
                            th:src="${blog.thumbnail}" class="img-fluid" alt=""></a>
                    <div class="card-body p-4">
                        <ul class="list-unstyled mb-2">
                            <i class="mdi mdi-account text-dark h6 me-1"></i>
                            <li class="list-inline-item user text-muted me-2"
                                th:text="${blog.user.fullName}"></li>
                            <i class="uil uil-calendar-alt text-dark h6 me-1"></i>
                            <li class="list-inline-item text-muted small me-3" th:text="${blog.createdAt}"></li>
                        </ul>
                        <a th:href="@{/blog/{blogId}(blogId=${blog.blogId})}" class="text-dark title h5" th:text="${blog.title}">Easily connect to
                            doctor and make a
                            treatment</a>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <i class="mdi mdi-comment-outline me-1"></i>
                                <li class="list-inline-item"><a href="#" class="text-muted comments"
                                                                th:text="${blog.commentBlog.size()}"></a></li>
                            </ul>
                            <a th:href="@{/blog/{blogId}(blogId=${blog.blogId})}" class="link">Read More <i
                                    class="mdi mdi-chevron-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row text-center" th:unless="${#lists.isEmpty(usesPage.getContent())}">
            <div class="col-12">
                <ul class="pagination justify-content-center mb-0 list-unstyled">
                    <li class="paginate_button page-item"><a
                            class="page-link"
                            th:classappend="${usesPage.hasPrevious() ? '' : 'disabled'}"
                            th:href="@{'/blog'(titleSearch=${titleSearch},page=${usesPage.number})}"
                    >Prev</a>
                    </li>
                    <li class="paginate_button page-item"><a
                            class="page-link"
                            th:href="@{'/blog'(titleSearch=${titleSearch},page=${usesPage.number})}"
                            th:if="${usesPage.hasPrevious()}" th:text="${usesPage.number}"></a>
                    </li>
                    <li class="paginate_button page-item active"><a
                            class="page-link"
                            th:href="@{'/blog'(titleSearch=${titleSearch},page=${usesPage.number + 1})}"
                            th:text="${usesPage.number + 1}"></a>
                    </li>
                    <li class="paginate_button page-item"><a
                            class="page-link"
                            th:href="@{'/blog'(titleSearch=${titleSearch},page=${usesPage.number + 2})}"
                            th:if="${usesPage.hasNext()}" th:text="${usesPage.number + 2}"></a>
                    </li>

                    <li class="paginate_button page-item">
                        <a
                                class="page-link"
                                th:href="@{'/blog'(titleSearch=${titleSearch},page=${usesPage.number + 2})}"
                                th:classappend="${usesPage.hasNext()} ? '':'disabled'"
                        >Next
                        </a>
                    </li>
                </ul><!--end pagination-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start -->
<footer th:replace="~{layout/homeFooter :: homeFooter}"></footer>
<!-- End -->

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-pills btn-primary back-to-top"><i
        data-feather="arrow-up" class="icons"></i></a>
<!-- Back to top -->

<!-- javascript -->
<script th:replace="~{layout/script :: script}"></script>

</body>

</html>